body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg {
  fill: currentColor;
  transform-origin: center;
  color: white;
  animation: svgRotation 10s linear;
}

@keyframes svgRotation {
  to {
    transform: rotate(360deg);
  }
}

.gradient-text {
  background: linear-gradient(172deg, #cf07f7 13%, #fd5e5e 77%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
